---
title: Home
---

<h2>Welcome</h2>

<img src="/images/ProductSum.png" style="float: right; margin: 10px;" />

<p>Welcome to my blog!</p>

<p>
Types give us a notion of possible values and dependent-type theory blurs the distinction between type and value. The symbols Π and Σ are the more distinguishing type-formers in dependent-type theory, hence the home-page welcome pictures.

This blog assumes familiarity with the <a href="http://wiki.portal.chalmers.se/agda/">Agda</a>
programming language.
</p>

<p>I've reproduced a list of recent posts here for your reading pleasure:</p>

<h2>Posts</h2>
$partial("templates/post-list.html")$

<p>…or you can find more in the <a href="/archive.html">archives</a>.</p>
